<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <main class="main-section">
        <section class="introduction">
            <button onclick="location.href='/mission/create'" class="add_button">Add New Mission</button>
            <%- include("partials/error_messages.ejs", {errors}) %>
            <div class="item-list">
                <% missions.forEach(function(mission) { %>
                    <div class="item-box" onclick="location.href='/mission/edit/<%= mission._id %>'">
                        <p>Destination planet: <%= mission.destination_planet %></p>
                        <p>Mission purpose: <%= mission.mission_purpose %></p>

                        <div class="assignment-dropdown" onclick="stopPropagation(event)">
                            <p>Currently assigned to ship: </p>
                            <form id="assignment-form<%= mission._id %>" method="POST" action="/mission/assign-mission-to-ship">
                                <select class="assign-to-dropdown" onchange="selectShip('<%= mission._id %>', event)">
                                    <option value="" class="assignment-option" <%= mission.assigned_ship_id === null ? 'selected' : ''%>>-- None --</option>
                                    <% ships.forEach(function(ship) { %>
                                        <% if (!assigned_ship_ids.includes(ship._id.toString()) || mission.assigned_ship_id === ship._id.toString()) { %>
                                            <option value="<%= ship._id %>" class="assignment-option" <%= mission.assigned_ship_id === ship._id.toString() ? 'selected' : ''%>><%= ship.name %></option>
                                        <% } %>
                                    <% }) %>
                                </select>
                            </form>
                        </div>

                        <form id="delete-item" method="POST" action="/mission/delete/<%= mission._id %>">
                            <button type="submit" class="remove_button">Delete</button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>

    <%- include("partials/footer.ejs") %>
    <script src="../js/utilities.js"></script>
    <script src="../js/mission.js"></script>
</body>
</html>