<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnel</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <main class="main-section">
        <section class="introduction">
            <button onclick="location.href='/create-personnel'" class="add_button">Add New Personnel</button>
            <div class="item-list">
                <% personnels.forEach(function(personnel) { %>
                    <div class="item-box" onclick="location.href='/edit-personnel/<%= personnel._id %>'">
                        <p>Name: <%= personnel.name %></p>
                        <p>Rank: <%= personnel.rank %></p>
                        <p>Skills: <%= personnel.skills %></p>
                        <div class="assignment-dropdown" onclick="stopPropagation(event)">
                            <p>Currently assigned to: </p>
                            <form id="assignment-form<%= personnel._id %>" method="POST" action="/assign-personnel-to-ship">
                                <select class="assign-to-dropdown" onchange="selectShip('<%= personnel._id %>', event)">
                                    <option value="" class="assignment-option">-- None --</option>
                                    <% ships.forEach(function(ship) { %>
                                        <option value="<%= ship._id %>" class="assignment-option" selected><%= ship.name %></option>
                                    <% }) %>
                                </select>
                            </form>
                        </div>
                        <!-- <form id="unassign-ship" method="POST" action="/unassign-ship/<%= personnel.assigned_ship_id %>">
                            <button type="submit" class="remove_button">Unassign from ship</button>
                        </form> -->
                        <form id="delete-item" method="POST" action="/delete-personnel/<%= personnel._id %>">
                            <button type="submit" class="remove_button">Delete</button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>

    <%- include("partials/footer.ejs") %>
    <script src="../js/utilities.js"></script>
    <script src="../js/personnel.js"></script>
</body>
</html>